{% extends "layout.html" %}

{% block title %}
    Editor
{% endblock %}

{% block header %}
<style>
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
</style>
{% endblock %}

{% block main %}

<h1>{{ song_name }}</h1>
<br>

    <table class="table table-bordered">
        <tbody style="background-color: whitesmoke;">

            {% for i in song_complete %}
                {% if (i.bar)%4 == 1  %}
                    <tr>
                {% endif %}
                        <td style="width:25%">
                            <div style="text-align:left">
                                {{ i.bar }}
                            </div>
                            <div style="text-align:right; font-family:fantasy;font-size: 28px;font-weight:bold;">
                                {{ i.chord }}
                            </div>
                        </td>
                {% if (i.bar)%4 == 0  %}
                    </tr>
                {% endif %}

            {% endfor %}
        </tbody>
    </table>

<form action="/tabeditortab" method="post">
<form autocomplete="off"  action="/tabeditortab">
<table style="width:100%">
  <colgroup>
      <col span="1" style="width: 33%;">
      <col span="1" style="width: 33%;">
      <col span="1" style="width: 33%;">
  </colgroup>
  <tbody>
    <tr>
      <td align="center">
          <div class="autocomplete" style="background-color: whitesmoke; width:100%" >
            <input style="background-color: whitesmoke; width:100%" id="myInput" name="chord" placeholder="chord" >
          </div>
      </td>
      <td></td>
      <td align="center">
        <input style="background-color: whitesmoke; width:100%" id="bar" name="bar" placeholder="bar">
      </td>
    </tr>
    <tr>
      <td align="center">
        <button class="btn btn-primary" type="submit" style="width:100%" value="Add Chord" name="text"><i class="fas fa-plus"></i> Chord</button>
      </td>
      <td align="center">
        <button class="btn btn-secondary" type="submit" style="width:100%" value="Remove Last Chord" name="text"><i class="fas fa-minus"></i> Chord</button>
      </td>
      <td align="center">
        <div class="center">
        <button class="btn btn-primary" type="submit" style="width:100%" value="Replace Chord" name="text"><i class="fas fa-exchange-alt"></i> Chord</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
</form>
</form>
<br>

<script>
function autocomplete(inp, arr) {
  /*the autocomplete function takes two arguments,
  the text field element and an array of possible autocompleted values:*/
  var currentFocus;
  /*execute a function when someone writes in the text field:*/
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arr.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          /*make the matching letters bold:*/
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          /*execute a function when someone clicks on the item value (DIV element):*/
          b.addEventListener("click", function(e) {
              /*insert the value for the autocomplete text field:*/
              inp.value = this.getElementsByTagName("input")[0].value;
              /*close the list of autocompleted values,
              (or any other open lists of autocompleted values:*/
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
        x[i].parentNode.removeChild(x[i]);
      }
    }
  }
  /*execute a function when someone clicks in the document:*/
  document.addEventListener("click", function (e) {
      closeAllLists(e.target);
  });
}

/*An array containing all the country names in the world:*/
var chords = ["A", "Am", "Amaj7", "A7", "Am7", "Am75b", "Bb", "Bbm", "Bbmaj7", "Bb7", "Bbm7", "Bbm75b", "B", "Bm", "Bmaj7", "B7", "Bm7", "Bm75b", "C", "Cm", "Cmaj7", "C7", "Cm7", "Cm75b", "Db", "Dbm", "Dbmaj7", "Db7", "Dbm7", "Dbm75b", "D", "Dm", "Dmaj7", "D7", "Dm7", "Dm75b", "Eb", "Ebm", "Ebmaj7", "Eb7", "Ebm7", "Ebm75b", "E", "Em", "Emaj7", "E7", "Em7", "Em75b", "F", "Fm", "Fmaj7", "F7", "Fm7", "Fm75b", "Gb", "Gbm", "Gbmaj7", "Gb7", "Gbm7", "Gbm75b", "G", "Gm", "Gmaj7", "G7", "Gm7", "Gm75b", "Ab", "Abm", "Abmaj7", "Ab7", "Abm7", "Abm75b"];

/*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
autocomplete(document.getElementById("myInput"), chords);
</script>

{% endblock %}
